* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4fc;
    color: #333;
}

header {
    background-image: url("Untitled.png");;
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000;
}

.header-content p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px #000;
    margin-top: 10px;
}

.gallery {
    padding: 50px 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container {
    width: 165px;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #900C3F;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #900C3F;
    color: white;
    margin-top: 50px;
}
